<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/User/index.html">
            <img src="../images/logo.jpg" alt="Logo" width="50" height="50" class="me-2 rounded-circle" />
            <div class="d-flex flex-column">
                <span class="text-dark" style="line-height: 1.1; font-size: 1.2rem; font-weight: 800;">JINSA
                    MOBILES</span>
                <span class="text-secondary nav-subtitle">AND
                    ACCESSORIES</span>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/User/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/User/productPage.html">Shop Products</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/User/aboutUs.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/User/contactUs.html">Contact</a>
                </li>
            </ul>

            <div class="nav-icons align-items-center d-flex">
                <div class="position-relative">
                    <input type="text" id="navbarSearch" class="form-control border-secondary rounded-pill pe-5"
                        placeholder="Search products..." style="width: 200px; height: 35px; font-size: 0.9rem" />
                    <i class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 translate-middle-y me-3 text-secondary"
                        style="cursor: pointer"></i>
                </div>

                <a href="/User/cart.html" class="position-relative ms-2 text-dark" style="cursor: pointer">
                    <i class="fa-solid fa-cart-shopping fs-5"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
                        style="font-size: 0.6rem"></span>
                </a>

                <a href="/User/userLogin.html" id="nav-login" class="ms-4 text-dark text-decoration-none fw-bold"
                    style="font-size: 1rem;">LOGIN</a>
            </div>
        </div>
    </div>
</nav>